.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: #f55;
  text-align:center;
}
.App-header a {
  color:inherit;
  text-decoration: none;
}

.App-header a:active{
  color:inherit;
}
.App-header a:hover {
  color:inherit;
}
.App-header a:visited {
  color:inherit;
}
.App-header a:focus {
  outline:none;
  color:inherit;
}
.side-bar .footer .btn + .btn{
  margin-left:5px;
}

.comp-in {
  background-color: #f55;
}
.comp-out {
  background-color: #7d5;
}
.comp-box {
  background-color: #5ad;
}

.modal-body .form-group {
  overflow:hidden;
}

.side-bar {
  color:#111;
  background-color:#f55;
  /*padding:15px;*/
  border-radius:0 0 10px 0;
  border:2px solid #222;
  border-top:none;
  border-left:none;
}
.side-bar div[class*="col"] {
  padding-top:15px;
  padding-bottom:15px;
  border-top:1px solid #f66;
}
.side-bar > .row > div:first-child {
  border-top:0;
}
.side-bar > .row > div:empty {
  border-top:0;
  padding:0;
}
.filter-link, .filter-link:focus {
  display:inline-block;
  padding:10px;
  color:#111;
}
.filter-link:hover {
  text-decoration: none;
}
.filter-link.selected {
  text-decoration: line-through;
}
/*.side-bar div[class*="col"]:last-child {
  margin-bottom:0;
  border-bottom:0;
}*/
.side-bar .btn-group {
  display:block;
}
.side-bar div[class*="col-"]:nth-child(even) {
  /*background-color:white;*/
  /*border:1px solid black;*/
}
.toggle, .add-element, .upload {
  /*border-style:solid;
  border-color:#f55;
  border-width:0 2px;
  padding:5px;
  height:56px;*/
}
.toggle {
}
.upload {
  /*height:56px;
  border-radius:0 0 10px 10px;
  border-width:0 2px 2px 2px;*/
}
.add-element {
  /*padding:5px;
  border-width:0 2px;*/
}
ul.check-list {
  list-style-type: none;
}
.check-checked.checkbox {
  display:inline-block;
}
.remove-check {
  float:right;
}
.check-group.form-group {
  margin-bottom:0;
}
.check-list {
  padding-left:5px;
}
.spinner {
  position:absolute;
  left:50%;
  top:50%;
  border-radius:50%;
  animation: 2s infinite linear spin;
  z-index:1000;
}
@keyframes spin {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}
@media (max-width: 900px) {
  .side-bar div[class*="col"] {
    padding:2px;
  }
  .add-element {
    /*border-radius:0 0 10px 10px;*/
    /*padding:5px;*/
    /*border-width:0 2px 2px 2px;*/
  }
  .btn-group > .btn-lg {
    padding:9px;
    font-size:18px;
    line-height: 1;
  }
  .side-bar {
    border-radius:0px;
    border-width:0 0 2px 0;
  }
  .side-bar div:empty {
    border-top:0;
    padding:0;
  }
  .side-bar .col-xs-4:first-child {
    padding-left:5px;
  }

}
