.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.component {
  display:inline-block;
  position:absolute;
  font-size:1em;
  color:black;
}
