.comp-container {
  position:absolute;
  /* Width and height big enough to contain component*/
  width:100px;
  margin:-12px 0 0 -50px;
  height:24px;
  text-align:center;
}

.component {
  display:inline-block;
  color:black;
  padding:2px;
  border-radius:5px;
  min-width:30px;
  max-width:100px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.component.selected {
  border:2px dashed black;
}

.stage {
  position:relative;
}
.stage.loading {
  opacity:0.3;
}
.spinner-stage {
  width:20em;
  height:20em;
  margin-top:-10em;
  margin-left:-10em;
  border:20px solid rgba(0,0,0,0);
  border-top:20px solid #f22;
}
.spinner-side {
  border:5px solid rgba(0,0,0,0);
  border-top:5px solid white;
  position:relative;
  width:2em;
  height:2em;
  margin-top:-1em;
  margin-left:-1em;
}
